<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi there, {{name}}!</p><br />

        <p>You are officially part of the Prabaharan's family!</p><br />

        <p>We want to personally thank you for joining our email list and share some helpful advice on getting started.</p><br />

        <p>Thank you for joining our community. We can’t wait to show you what we have in store!</p><br />

        <br /><br />
        <p>Thanks,</p><br />
        <p>Prabaharan.S.</p><br />
    </body>
</html>
